<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    example ejs
    <table>
      <thead>
        <tr>
          <td>opt</td>
          <td>value</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>id</td>
          <td><%= id %></td>
        </tr>
        <tr>
          <td>name</td>
          <td><%= name %></td>
        </tr>
        <tr>
          <td>email</td>
          <td><%= email %></td>
        </tr>
        <tr>
          <td>avatar</td>
          <td><img src=<%= avatar %> /></td>
        </tr>
      </tbody>
    </table>
    <footer>
    </footer>
  </body>
</html>